# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/

# IDE
.idea/
.vscode/

# Android
android/local.properties
android/.gradle/

# iOS/macOS
ios/Pods/
macos/Pods/

# Environment
*.env
